@model Ogrenci

<form id="ogrenciDetayForm" class="ajax-form" asp-action="OgrenciDetay" asp-controller="Ogrenci" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="OgrenciId" />
    <div class="mb-3">
        <label class="form-label" asp-for="Ad">Ad</label>
        <input type="text" class="form-control" asp-for="Ad">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Soyad">Soyad</label>
        <input type="text" class="form-control" asp-for="Soyad">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
</form>